body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 95vh;
    flex-direction: column;
    background-size: cover; /* Растянуть изображение на весь контейнер */
    background-position: center; /* Центровка изображения */
    background-repeat: no-repeat; /* Запрет на повторение изображения */
}
html {
    overflow: hidden; /* Убираем прокрутку */
}
#play {
    overflow: hidden; /* Убираем прокрутку */
}

#friends {

}

#shop {

}

#quests {
height: 155vh;
}

#top {

}

/* Скрываем все страницы по умолчанию */
.page {
  display: none;
}

  /* Стили для полос */
.progress-container {
    position: fixed;
    bottom: 480px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px; /* Фиксированная ширина */
    height: 20px;
    background-color: #fffce6;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px solid #ffd700; /* Обводка контейнера */
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #ffd700;
    transition: width 0.3s;
}

/* Стиль для меток энергии */
.energy-status span {
  margin-bottom: 5px; /* Отступ между строками */
}
 .progress-label {
    position: fixed; /* Меняем на fixed для независимости от родителя */
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    padding: 5px 10px; /* Отступы для удобства */
    border-radius: 5px; /* Сглаживание углов */
    background-color: rgba(255, 165, 0, 0.7); /* Полупрозрачный фон, чтобы фон мира был виден */
    color: white; /* Белый текст */
    font-family: 'Pusia-bold', sans-serif; /* Шрифт */
    font-size: 20px; /* Размер шрифта */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.5); /* Тень текста */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Легкая тень для выделения */
    background-size: cover; /* Обеспечиваем правильное отображение фона */
    background-position: center; /* Центрируем фон */
    opacity: 100%;
}

#energyDisplay {
   position: fixed;
   bottom: 491px;    /* Контейнер будет располагаться снизу */
   left: 50%;        /* Размещаем контейнер по центру */
   transform: translateX(-50%); /* Смещаем контейнер, чтобы он был по центру */
   display: flex;
   flex-direction: column-reverse; /* Элементы будут располагаться снизу вверх */
   color: white;     /* Белый текст */
   font-family: 'Pusia-bold', sans-serif; /* Шрифт */
   font-size: 20px;  /* Размер шрифта */
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.5); /* Тень текста */
}


.navigation {
    position: fixed;
    bottom: 0; /* Прикрепляем меню к нижней части экрана */
    left: 0;
    width: 100%; /* На всю ширину экрана */
    background-color: #2e2e3a;
    display: flex; /* Flexbox для размещения элементов */
    justify-content: space-around; /* Равномерное распределение пунктов меню */
    padding: 0 0 10px 0; /* Отступ снизу (10px) */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тень над меню */
    z-index: 1000; /* Поверх остальных элементов */
    font-family: 'Pusia-bold', sans-serif; /* Шрифт */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.5); /* Тень текста */
}


/* Стили для кнопок меню */
.nav-button {
    flex: 1; /* Равное пространство для каждого пункта */
    text-align: center;
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: white; /* Белый цвет текста */
    transition: all 0.3s ease; /* Плавный переход для анимации */
}

/* Стили для активного пункта меню */
.navigation .nav-button.active {
    background-color:  #f4bb0b; /* Цвет фона для активного пункта */
}


/* Стили для фигур и изображений */
.nav-button figure {
    margin: 0; /* Убираем отступы */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем иконки и текст */
    gap: 0px; /* Расстояние между иконкой и подписью */
}

.nav-button img {
    width: 55px; /* Размер иконки */
    height: 55px;
    object-fit: contain; /* Сохраняем пропорции изображения */
    transition: transform 0.3s ease; /* Анимация увеличения при наведении */
}

/* Подписи к пунктам меню */
.nav-button figcaption {
    font-size: 14px; /* Размер шрифта подписи */
    font-weight: 500;
    margin-top: -5px; /* Поднимаем подпись чуть выше */
}

.nav-button:hover figcaption {
    color: #ffd700; /* Золотистый цвет подписи */
}

#clickButton {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease;
    width: 270px;
    z-index: 1000;
}

#clickButton:active {
    transform: scale(1.1) translateX(-50%);
}

#coinContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Чтобы контейнер не блокировал клики */
  overflow: hidden; /* Скрываем монеты, если они выходят за пределы */
}

.coin_drop {
  position: absolute;
  width: 40px; /* Размер монеты */
  height: 40px; /* Размер монеты */
  background-image: url('brawl_clicker-master/static/images/coin.png'); /* Путь к картинке монеты */
  background-size: contain;
  background-repeat: no-repeat;
  animation: flyUp 2s ease-out forwards; /* Анимация движения монеты */
}

@keyframes flyUp {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1); /* Начальная позиция монеты */
  }
  100% {
    opacity: 0;
    transform: translateY(-300px) scale(0.5); /* Монета летит вверх и исчезает */
  }
}

@font-face {
    font-family: 'Pusia-bold';
    src: url('brawl_clicker-master/static/fonts/pusia-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.score-container {
    position: absolute;
    top: 25%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%) translateY(-50%); /* Центрируем по обеим осям */
    display: flex; /* Используем flexbox для удобного выравнивания */
    align-items: center; /* Выравнивание по вертикали */
}

.score {
    font-family: 'Pusia-bold', sans-serif; /* Шрифт */
    font-size: 22px; /* Размер шрифта */
    color: #ffd700; /* Цвет текста */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.5); /* Тень текста */
    margin: 0; /* Убираем стандартные отступы */
    white-space: nowrap; /* Предотвращаем перенос текста */
}

.score-background {
    display: inline-block; /* Оборачиваем счёт в блок, чтобы фон подстраивался */
    padding: 0px 10px; /* Отступы вокруг текста */
    padding-left: 20px; /* Увеличиваем отступ слева для фона */
    background-color: black; /* Черный непрозрачный фон */
    border-radius: 5px; /* Сглаживаем углы */
    margin-left: 0px; /* Оставляем фон на месте */
}

.coin {
    margin-left: 0; /* Убираем отступы между монеткой и числом */
    z-index: 1000; /* Поверх остальных элементов */
}

.coin img {
    width: 45px;
    height: 45px;
    vertical-align: middle; /* Выравниваем изображение по вертикали */
    margin-right: -20px; /* Небольшой отступ от монетки к числу */
}

.shadow {
    position: fixed;
    bottom: 150px;        /* Отступ от нижнего края экрана */
    left: 50%;            /* Размещение по центру */
    transform: translateX(-50%); /* Смещение для точного центра */
    width: 10px;          /* Еще меньшая ширина */
    height: 10px;         /* Еще меньшая высота */
    display: flex;        /* Для использования flexbox */
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center;  /* Центрирование содержимого по вертикали */
    opacity: 0.7;         /* 50% прозрачности */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-container img {
    width: 50px; /* Ширина картинки */
    height: 50px; /* Высота картинки */
}

.dropdown {
            position: absolute; /* Для абсолютного позиционирования меню */
            top: 10px;
            right: 3px;
        }
        /* Стили для изображения */
        .dropdown img {
            width: 45px;
            height: 45px;
            cursor: pointer;
        }

        /* Выпадающее меню (изначально скрыто) */
        .dropdown-menu {
            position: absolute;
            top: 60px; /* Смещение вниз от картинки */
            right: 10px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для меню */
            border-radius: 5px; /* Скругленные углы */
            width: 150px; /* Ширина меню */
            display: none; /* Скрываем меню */
            flex-direction: column;
            padding: 0;
            z-index: 1000;
        }

        /* Стили для пунктов меню */
        .dropdown-menu a {
            text-decoration: none;
            color: #333;
            padding: 10px 15px;
            display: block;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        /* Ховер эффект для пунктов */
        .dropdown-menu a:hover {
            background-color: #3E5F8A;
            color: white;
        }

        /* Показ меню при активном состоянии */
        .dropdown-menu.active {
            display: flex; /* Показываем меню */
        }

/* Друзья */
/* Блок приглашения */
.invitation-container {
  background-color: #2e2e3a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 250px;
  text-align: center;
  border: 2px solid #d1a34a;
  margin: 0 auto;
  margin-top: 30px; /* Отступ сверху */
}

/* Кнопка внутри блока приглашения */
.how-it-works {
  background-color: #ffcc66;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  color: #543820;
  margin-top: 15px;
  display: block;
  width: 100%;
}

.how-it-works:hover {
  background-color: #ffb84d;
}

/* Блок с бонусом */
.invite-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2e2e3a;
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #d1a34a;
  width: 250px;
  height: 85px;
  margin: 0 auto;
  margin-top: 20px; /* Отступ сверху */
}

.coin-stack img {
  width: 60px;
  height: auto;
}

.invite-text {
  flex-grow: 1;
  margin-left: 15px;
  color: #ffcc66;
  font-family: Arial, sans-serif;
}

.invite-text .title {
  font-size: 20px;
  font-weight: bold;
}

.invite-text .reward {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

.invite-text .reward img {
  width: 24px;
  height: auto;
  margin-right: 5px;
}

.invite-text .reward .reward-amount {
  color: #FFD700;
}

/* Заголовок */
.up_text {
  font-size: 26px;
  text-align: center;
  color: white;
  font-family: 'Pusia-bold', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.5);
  margin-top: 30px;
}

/* Список друзей */
.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 250px;
  margin-top: 30px;
    margin: 0 auto;
}

/* Карточка друга */
.friend-card {
  display: flex;
  align-items: center;
  background-color: #2e2e3a;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  border: 2px solid #d1a34a;
}

.friend-card img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 15px;
}

.friend-info {
  font-size: 20px;
  font-weight: bold;
  color: #ffcc66;
  font-family: 'Pusia-bold', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.5);
}


/* Страница Магазин */
.shop_menu {
    width: 85%; /* Уменьшенная ширина меню */
    margin: 0px auto; /* Отступ сверху и центрирование по горизонтали */
    background-color: #2e2e3a; /* Фон меню */
    border-radius: 10px;
    padding: 10px 10px;
    border: 2px solid #d1a34a; /* Обводка контейнера */
}

/* Список меню */
.shop_menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Равномерное распределение пунктов */
    margin: 0;
    padding: 0;
}
/* Пункты меню */
.shop_menu-item {
    position: relative;
}

/* Ссылка в меню */
.shop_menu-item a {
    text-decoration: none;
    color: #fff; /* Белый текст */
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Эффект при наведении */
.shop_menu-item a:hover {
    background-color: #ffcc00; /* Жёлтый фон */
    color: #333; /* Тёмный текст */
}

/* Дополнительные стили */
.shop_menu-item a:active {
    background-color: #ff9933; /* Оранжевый цвет при клике */
}

/* Hover-эффекты */
.menu-item a:hover {
    color: #ffcc00; /* Цвет текста при наведении */
}

.menu-item.special a:hover {
    color: #fff; /* Белый текст для "Особого" пункта при наведении */
}

.shop_container {
    display: flex;
    flex-wrap: wrap; /* Позволяет контейнерам переноситься */
    justify-content: center; /* Центрируем контейнеры */
    align-items: center;
    gap: 20px; /* Расстояние между контейнерами */
    max-width: 340px; /* Ограничиваем ширину контейнера (150px * 2 + 20px gap) */
    margin: 20px auto; /* Центрируем контейнер по горизонтали */
}

/* Настройки для коробок */
.shop_box, .shop_box_2, .shop_box_3,
.shop_box_4, .shop_box_5, .shop_box_6 {
    width: 130px; /* Фиксированная ширина */
    height: 180px; /* Фиксированная высота */
    background-color: #2e2e3a;
    border: 2px solid #d1a34a;
    text-align: center;
    font-family: Arial, sans-serif;
    transform: skew(-10deg);
    overflow: hidden;
}



.shop_box > *, .shop_box_2 > *, .shop_box_3 > *,
.shop_box_4 > *, .shop_box_5 > *, .shop_box_6 > * {
    transform: skew(10deg);
}

.shop_icon {
    margin-top: 10px;
}

.shop_icon img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

h1 {
    color: white;
    font-size: 14px;
    margin: 10px 0 0 0;
}

h2 {
    color: #d1a34a;
    font-size: 12px;
    margin: 5px 0;
}

.shop_price {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) skew(10deg);
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.shop_price img {
    width: 20px;
    vertical-align: middle;
    margin-right: -5px;
}

.shop_price span {
    font-size: 12px;
    color: white;
    vertical-align: middle;
}

/* Стили для метки "ЛУЧШЕЕ" */
.shop_discount {
    position: absolute;
    bottom: 10px; /* Отступ снизу */
    left: 5px; /* Отступ слева */
    background-color: #ff3b3b; /* Красный фон */
    color: white; /* Белый текст */
    font-size: 7px; /* Размер текста */
    font-weight: bold;
    padding: 5px 10px; /* Отступы внутри */
    border-radius: 5px; /* Закругление углов */
    transform: skew(10deg); /* Наклон для метки */
    z-index: 10; /* Поверх других элементов */
}


/* Дополнительные стили для уникальных контейнеров */
.shop_box_4 {
    background-color: #3a4a2e; /* Уникальный цвет */
    border-color: #8dc63f; /* Уникальная обводка */
}

.shop_box_5 {
    background-color: #4a2e3a; /* Уникальный цвет */
    border-color: #c63f8d; /* Уникальная обводка */
}

.shop_box_6 {
    background-color: #2e3a4a; /* Уникальный цвет */
    border-color: #3f8dc6; /* Уникальная обводка */
}



.image-container {
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    margin-top: 20px; /* Отступ сверху */
}

#mainImage {
    width: 500px; /* Ширина основного изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

.close-button_box1,
.close-reward-button {
    background: orange;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.reward-image img {
    max-width: 200px;
    height: auto;
    margin: 10px 0;
}
/* Страница квесты */
/* Контейнер для всех карточек */
.cards-container {
    width: 100%;
    max-width: 250px; /* Ограничиваем ширину */
    margin: 0 auto; /* Центрируем */
    margin-top: 30px; /* Устанавливаем расстояние между контейнерами */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Расстояние между карточками */
    padding: 20px;
    background-color: #1e1e2d;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Контейнер для карточек 2 (с отступом сверху от первого контейнера) */
.cards-container2 {
    width: 100%;
    max-width: 250px; /* Ограничиваем ширину */
    margin: 0 auto; /* Центрируем */
    margin-top: 30px; /* Устанавливаем расстояние между контейнерами */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Расстояние между карточками */
    padding: 20px;
    background-color: #1e1e2d;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Заголовок карточек */
.card-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

/* Стили для карточек */
.card {
    display: flex;
    align-items: center;
    background-color: #2e2e3a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #d1a34a;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Логотип слева */
.card-logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

/* Контент внутри карточки */
.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Заголовок внутри карточки */
.card-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

/* Блок с количеством монет */
.card-amount {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #f5c518;
}

/* Иконка монеты */
.coin-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Стрелка справа */
.card-arrow {
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
}

/* Заголовок страницы */
.leaderboard-title {
position: center
    color: white;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Кнопки для переключения между табами */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #3e3e3e;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #5e5e5e;
}

.tab-button.active {
    background-color: #f39c12;
}


/* Страница Герои */
.menu_char {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 30px auto; /* Центрируем контейнер с отступом сверху */
    padding: 0 20px; /* Добавляем отступы справа и слева от контейнера */
}


    .character {
      background: white;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 8px;
      text-align: center;
    }

    .character img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: -10px;
    }

    .character button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    .character button:hover {
      background-color: #45a049;
    }

    .selected {
      border: 2px solid #4CAF50;
    }

    .preview {
      position: relative;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      text-align: center;
    }

    .preview img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
    }

#character-description {
  position: absolute; /* Используем абсолютное позиционирование */
  top: 20px; /* Отступ сверху */
  left: 10px; /* Отступ слева */
  font-size: 14px;
  color: #555;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 170px;
  z-index: 1000; /* Повышаем z-index, чтобы элемент был выше остальных */
}


.character.selected-preview {
  background-color:  #ffd700; /* Заливка желтым цветом */
  border: none; /* Убираем рамку */
  border-radius: 8px; /* Оставляем закругленные углы, если нужно */
  padding: 5px; /* Добавляем отступы, чтобы выделение не перекрывало картинку */
}

.character.selected {
  border: 2px solid #f4c01c;
  border-radius: 8px;
}

#select-button {
  display: block;
  position: relative; /* Изменено с absolute на relative */
  top: 28px; /* Уменьшено значение top */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #2e2e3a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}


#select-button:hover {
  background-color: #45a049; /* Более темный зеленый при наведении */
}


/* Контейнер для всех элементов */
.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Превью */
.background-preview {
  text-align: center;
  margin-bottom: 20px;
}

.background-preview img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.background-preview p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Меню для фонов */
.background-menu {
  display: grid; /* Используем grid, чтобы разместить кнопки в сетке */
  grid-template-columns: repeat(4, 1fr); /* 4 кнопки в строку */
  gap: 15px; /* Отступы между кнопками */
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px; /* Максимальная ширина для контейнера */
}

/* Кнопка выбора фона */
.button-container {
    position: relative; /* Устанавливаем относительное позиционирование для контейнера кнопок */
    height: 100vh; /* Высота контейнера равна высоте вьюпорта */
}

.button {
    padding: 10px 20px; /* Отступы внутри кнопок */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
}

/* Улучшения*/
.container_up {
  max-width: 300px;
  max-height: 400px;
  margin: 0 auto;
  padding: 0; /* Убираем внутренний отступ */
  border-radius: 10px; /* Округление только для общего контейнера */
  margin-top: 10px;
  display: flex; /* Гибкая модель */
  flex-direction: column; /* Элементы в столбик */
  gap: 0px; /* Расстояние между элементами */
}

.item_up1,
.item_up2,
.item_up3,
.item_up4 {
  position: relative; /* Для использования псевдоэлементов */
  padding: 15px 25px; /* Пространство внутри */
  background-color: #2e2e3a; /* Фон элемента */
  margin: 10px 0; /* Отступ между элементами */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #d1a34a;
  transform: skew(-10deg); /* Наклон для параллелограмма */
  overflow: hidden;
}

.item_up1 > *, .item_up2 > *, .item_up3 > *, .item_up4 > * {
  transform: skew(10deg); /* Обратный наклон для внутренних элементов */
}

.item-icon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: #d1a34a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.item-info {
  flex-grow: 1;
  margin-left: 15px; /* Чуть больше отступа для визуального баланса */
}

.item-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5;
  color: white;
}

.item-details_1 {
  font-size: 14px;
  color: #d1a34a;
}
.item-details {
  font-size: 14px;
  color: #d1a34a;
}
.item-details_3 {
  font-size: 14px;
  color: #d1a34a;
}
.item-details_4 {
  font-size: 14px;
  color: #d1a34a;
}
.item-action {
  font-size: 20px;
  color: #d1a34a;
  cursor: pointer;
}

.item-action:hover {
  color: #ffd700;
}

/* Общие стили окна */
.container_up_buy_1 {
    text-align: center;
    background-color: #2e2e3a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    max-height: 500px;
    width: 90%;
    position: fixed;
    bottom: 75px; /* Поднял выше */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.container_up_buy_2 {
    text-align: center;
    background-color: #2e2e3a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    max-height: 500px;
    width: 90%;
    position: fixed;
    bottom: 75px; /* Поднял выше */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.container_up_buy_3 {
    text-align: center;
    background-color: #2e2e3a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    max-height: 500px;
    width: 90%;
    position: fixed;
    bottom: 75px; /* Поднял выше */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.container_up_buy_4 {
    text-align: center;
    background-color: #2e2e3a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    max-height: 500px;
    width: 90%;
    position: fixed;
    bottom: 75px; /* Поднял выше */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.container_box_1 {
    text-align: center;
    background-color: #2e2e3a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 90%;
    height: 500px; /* Измените высоту здесь */
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.container_box_11 {
    text-align: center;
    background-color: #2e2e3a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 90%;
    height: 500px; /* Измените высоту здесь */
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
/* Слой затемнения */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
.overlay_1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
.overlay_3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
.overlay_4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
.overlay_box1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
/* Кнопка закрытия */
.close-button_1 {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}
.close-button_2 {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}
.close-button_3 {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}
.close-button_4 {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}
.close-button:hover {
    transform: scale(1.2);
}

.close-button_box1 {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}
/* Картинка сверху */
.top-image {
    margin-bottom: 5px;
}


.top-image img {
    max-width: 100px;
    display: block;
    margin: 0 auto; /* Центрирование изображения */
    margin-bottom: -150px; /* Установите нужный отступ снизу */
}


/* Монета слева от текста */
.price_up_buy {
    font-size: 24px;
    font-weight: bold;
    color: #ffaa00;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Остальные стили остаются такими же */
.character_up_buy {
    width: 150px;
    height: 150px;
    margin: 0 auto 0px;
    background: url('character.png') no-repeat center center;
    background-size: contain;
}

.title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    margin: 10px 0; /* Установите небольшой верхний отступ для поднятия заголовка */
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #c0c0c0;
    margin: 5px 0; /* Установите небольшой верхний отступ, если необходимо */
}

.upgrade-button_1 {
    background-color: #ffaa00;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.upgrade-button {
    background-color: #ffaa00;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.upgrade-button_2 {
    background-color: #ffaa00;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.upgrade-button_3 {
    background-color: #ffaa00;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.upgrade-button_4 {
    background-color: #ffaa00;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upgrade-button_box1 {
    background-color: #ffaa00;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upgrade-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #2e2e3a;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  display: none;
  z-index: 9999; /* Чтобы сообщение было поверх других элементов */
}


#start-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    padding: 15px 30px;
    cursor: pointer;
    color: #000; /* Черный текст */
    background: #fff; /* Белый фон */
    border: 2px solid #000; /* Черная граница */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); /* Белая тень */
    transition: transform 0.3s, box-shadow 0.3s;
    width: 80%;
}

#start-button:hover {
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.3); /* Белая тень */
}



/* Сброс отступов для html и body */
html, body {
    margin: 0;  /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    height: 100%; /* Устанавливаем высоту 100% */
    width: 100%; /* Устанавливаем ширину 100% */
    overflow-x: hidden; /* Убираем горизонтальный скролл */
}

/* Босс */
.boss {
    position: absolute; /* Позиционирование относительно ближайшего предка с position: relative (или body) */
    top: 30%; /* Позиция по вертикали в центре */
    left: 20%; /* Позиция по горизонтали в центре */
    transform: translate(-50%, -50%); /* Сдвиг на 50% ширины и высоты элемента */
    width: 350px;
    height: 350px;
    cursor: pointer;
    animation: growShrinkAnimation 1.5s infinite;
    pointer-events: none;
    transition: transform 0.3s, width 0.3s, height 0.3s;
}

/* Анимация для увеличения и уменьшения босса */
@keyframes growShrinkAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* Полоса здоровья */
.health-bar {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 25px;
    background-color: #333; /* Темно-серый фон */
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #fff; /* Белая граница */
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* Белая тень */
}

.health-bar-inner {
    width: 100%;
    height: 100%;
    background-color: orange; /* Белый цвет здоровья */
    transition: width 0.2s, background-color 0.3s;
}

/* Таймер */
.timer {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: orange;
    background: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); /* Белая тень */
    border: 1px solid #fff; /* Белая граница */
    width: 70%;
    text-align: center; /* Выравнивание текста по центру по горизонтали */
    display: flex; /* Использование Flexbox */
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: center; /* Выравнивание по центру по горизонтали */
}

/* Уровень */
.level-text {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: orange; /* Белый текст */
    font-family: 'Pusia-bold', sans-serif; /* Шрифт */
    font-size: 22px; /* Размер шрифта */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.5); /* Тень текста */
}

/* Финальное сообщение */
.final-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff; /* Белый текст */
    text-align: center;
    display: none;
}

/* Кнопка следующего уровня */
#next-level-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    padding: 15px 30px;
    cursor: pointer;
    color: #000; /* Черный текст */
    background: orange; /* Белый фон */
    border: 2px solid #000; /* Черная граница */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); /* Белая тень */
    transition: transform 0.3s, box-shadow 0.3s;
    width: 80%;
}

#next-level-button:hover {
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.3); /* Белая тень */
}

/* Анимация урона для босса */
@keyframes bossDamage {
    0% { transform: translate(0, 0); filter: brightness(1); }
    30% { transform: translate(-2px, 2px); filter: brightness(0.8); }
    60% { transform: translate(2px, -2px); filter: brightness(0.9); }
    100% { transform: translate(0, 0); filter: brightness(1); }
}

.boss-hit {
    animation: bossDamage 0.15s ease-in-out;
}

/* Фон для top */
#top {
    width: 100%;
    height: 100vh; /* Высота на весь экран */
    background-size: cover;
    background-position: center;
    transition: background 0.3s ease; /* Плавная смена фона */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}

.ghost-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/ghost_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: ghostAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes ghostAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.leaf-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/leaf.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: fireAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes leafAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.stone-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/stone_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: stoneAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes stoneAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.fire-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/fire_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: fireAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes fireAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.water-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/water_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: waterAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes waterAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.god-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/god_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: godAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes godAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.magic-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/magic_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: magicAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes magicAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }

}.heart-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/heart_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: heartAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes heartAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.ananas-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/ananas_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: ananasAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes ananasAnimation {
  0% {
    transform: scale(0);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.frog-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/frog_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: frogAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes frogAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.dark-effect {
  position: absolute;
  width: 50px; /* Ширина эффекта */
  height: 50px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/dark_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: darkAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes darkAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.red-effect {
  position: absolute;
  width: 25px;
  height: 25px;
 background: radial-gradient(circle, rgba(255, 0, 0, 0.8), rgba(255, 99, 71, 0.4)); /* Яркий красный цвет */
  box-shadow:
    0 0 20px 5px rgba(255, 0, 0, 0.7), /* Яркий красный цвет для тени */
    0 0 30px 10px rgba(255, 99, 71, 0.6); /* Более светлый красный цвет для второй тени */
  border-radius: 50%;
  pointer-events: none;
  animation: redAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes redAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.fish-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/fish_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: fishAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes fishAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.minion-effect {
  position: absolute;
  width: 30px; /* Ширина эффекта */
  height: 30px; /* Высота эффекта */
  background: url('brawl_clicker-master/static/images/star_effect.png') no-repeat center center;
  background-size: contain; /* Сжимаем картинку, чтобы она не выходила за пределы */
  pointer-events: none;
  animation: minionAnimation 1s ease-out forwards;
  z-index: 1000;
}

@keyframes minionAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/* Эффекты фона */
.spark {
    position: absolute;
    width: 12px; /* Больше начальный размер */
    height: 12px;
    background: radial-gradient(circle, rgba(255, 100, 0, 1) 10%, rgba(255, 0, 0, 1) 80%);
    border-radius: 50%;
    opacity: 1;
    filter: blur(0px);
    box-shadow: 0px 0px 50px rgba(255, 50, 0, 1), 0px 0px 100px rgba(255, 0, 0, 1);
    animation: riseUp 3s linear forwards;
}

@keyframes riseUp {
    0% { transform: translateY(0) scale(1); opacity: 1; }
    100% { transform: translateY(-150px) scale(1.5); opacity: 0.8; }
}

/* Бабочкм */
#butterfly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Чтобы бабочки не блокировали клики */
    z-index: 999;
}

.butterfly {
    position: absolute;
    background-image: url('brawl_clicker-master/static/images/batterfly.png'); /* Изображение бабочки */
    background-size: cover;
    width: 30px; /* Размер бабочки */
    height: 30px; /* Размер бабочки */
    opacity: 0.8;
    animation: flyButterfly 10s infinite linear; /* Плавная анимация */
}

/* Анимация для полета бабочек */
@keyframes flyButterfly {
    0% {
        transform: translateX(-100px) translateY(30px); /* Начинаем слева, немного ниже */
        opacity: 1;
    }
    25% {
        transform: translateX(calc(25vw + 50px)) translateY(10vh); /* Перемещаем бабочку вправо и немного вверх */
        opacity: 1;
    }
    50% {
        transform: translateX(calc(50vw + 100px)) translateY(20vh); /* Вверх, вправо */
        opacity: 1;
    }
    75% {
        transform: translateX(calc(75vw + 150px)) translateY(10vh); /* Еще выше */
        opacity: 1;
    }
    100% {
        transform: translateX(calc(100vw + 100px)) translateY(30px); /* Завершаем движение справа, чуть ниже */
        opacity: 0; /* Бабочка исчезает */
    }
}

canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

)



