 <div class="navigation" id="menu">
    <a href="/" class="nav-button">
      <figure>
        <img src="static/images/play.png" alt="Играть" width="15" height="15">
        <figcaption>Играть</figcaption>
      </figure>
    </a>
    <a href="/page2" class="nav-button">
      <figure>
        <img src="static/images/friends_7.png" alt="Друзья" width="15" height="15">
        <figcaption>Друзья</figcaption>
      </figure>
    </a>
    <a href="/page3" class="nav-button">
      <figure>
        <img src="static/images/shop.png" alt="Магазин" width="15" height="15">
        <figcaption>Магазин</figcaption>
      </figure>
    </a>
    <a href="/page4" class="nav-button">
      <figure>
        <img src="static/images/quests.png" alt="Квесты" width="15" height="15">
        <figcaption>Квесты</figcaption>
      </figure>
    </a>
    <a href="/page11" class="nav-button">
      <figure>
        <img src="static/images/boss.png" alt="Топ" width="15" height="15">
        <figcaption>Босс</figcaption>
      </figure>
    </a>
  </div>