<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Квесты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="quests-page"> <!-- Добавлен класс friends-page -->

<div class = 'quests_text'>
<p>Основные задачи</p>
</div>

<div class = 'quests_text_2'>
<p>Дополнительные задачи</p>
</div>

<div class = 'quests_text_3'>
<p>Игровые задачи</p>
</div>

<div class="card">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Подпишись на наш телеграм канал</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            50 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_2">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Пригласи 5 друзей</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            100 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_3">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Подключи свой кошелек</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            150 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_4">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Подпишись на тг Павла Дурова</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            200 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_5">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Сыграй в мини-игру</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
           30 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_6">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Открой 5 новых миров</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            200 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>

<div class="card_7">
    <img src="/static/images/icon.png" alt="TON Logo" class="card-logo">
    <div class="card-content">
        <div class="card-title">Достигни 10 уровня</div>
        <div class="card-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            500 000
        </div>
    </div>
    <div class="card-arrow">&gt;</div>
</div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='script_theme.js') }}"></script>
    {% include '_nav.html' %}
</body>
</html>